name: Generate Snake Animation

on:
  schedule: # execute every 24 hours
    - cron: "0 0 * * *"
  workflow_dispatch:
  # push:
  #   branches:
  #   - mai

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # Step 1: Check out the main branch
      - name: Checkout main branch
        uses: actions/checkout@v6
        with:
          ref: main # Ensure the main branch is used
          fetch-depth: 0

      # Step 2: Generate the snake.svg file
      - name: Generate snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/snake.svg?palette=github-dark

      # Step 3: Move the generated file into the assets folder
      - name: Move snake.svg to assets folder
        run: |
          mkdir -p assets
          mv dist/snake.svg assets/snake.svg

      # Step 4: Commit and push changes to the main branch
      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add assets/snake.svg
          git commit -m "Update snake animation in assets folder" || echo "No changes to commit"
          git push origin main
